/* Our CSS file.


/* The media object. We use Quixote to test it in `_media_css_test.js`. */

.media:after {
	content: "";
	display: table;
	clear: both;
}

.media__figure {
	float: left;
	margin-right: 10px;
}

.media__content {
	overflow: hidden;
}


/* Our example code also includes a simple JavaScript library for toggling the visibility of an element. */
/* The .invisible class is used in that example. It's not related to the Quixote tests. */

.invisible {
	visibility: hidden;
}
